---
import LayoutWithHeader from "@layouts/LayoutWithHeader.astro";
import { titles } from "@lib/content";
import { getArtistById } from "@lib/server";

const slug = "small";

const artistIdList = [
  "a85f4h0ou5",
  "aqr4tfkbzk",
  "irro5lqfuw",
  "jwyy3ljjlr",
  "lid9qn5rul",
  "ukw9nnnkyw",
  "v57v63y0tz",
  "vw2vvhhemx",
  "wwmzzkqzk3",
  "xc7bt1cnzv",
  "xig29itsqg",
	"e1vt3geljt",
];

const artistList = await Promise.all(
  artistIdList.map(async (id) => await getArtistById(id))
);
---

<LayoutWithHeader title="간단 큐레이터!">
  <main>
    <div class="h-6"></div>
    <div class="flex gap-8 items-end flex-wrap">
      {
        titles.map(({ id, name }) => (
          <a
            class:list={{
              "text-2xl font-extrabold": slug === id,
              "text-xl text-gray-400 font-extrabold": slug !== id,
            }}
            href={`/exhibition/${id}`}
          >
            {name}
          </a>
        ))
      }
    </div>
    <div
      class="grid grid-cols-2 mt-8 gap-4 items-start"
      style="grid-template-columns: auto 1fr;"
    >
      {
        artistList.map(({ artist, arts }) => (
          <>
            <a class="hover-bg font-bold p-1" href={`/art/${artist.id}`}>
              {artist.name}
            </a>
            <div class="flex flex-col gap-1 items-start">
              {arts.map((art) => (
                <a class="hover-bg p-1" href={`/art/${artist.id}/${art.id}`}>
                  {art.name}
                </a>
              ))}
            </div>
          </>
        ))
      }
    </div>
  </main>
</LayoutWithHeader>
