---
import { Qrcode } from "@components/Qrcode";
import Layout from "@layouts/Layout.astro";
import { getArtistById } from "@lib/server";

const artistIdList = [
  "a85f4h0ou5",
  "aqr4tfkbzk",
  "irro5lqfuw",
  "jwyy3ljjlr",
  "lid9qn5rul",
  "ukw9nnnkyw",
  "v57v63y0tz",
  "vw2vvhhemx",
  "wwmzzkqzk3",
  "xc7bt1cnzv",
  "xig29itsqg",
  "e1vt3geljt",
];

const artistList = await Promise.all(
  artistIdList.map(async (id) => await getArtistById(id))
);
---

<Layout title="print small exhibition">
	<div class="h-10" />
  <div class="flex flex-col gap-2 w-[540px]">
    {
      artistList.map(({ artist, arts }) => (
        <>
          {arts.map((art) => (
            <div class="flex justify-between w-full border-dashed border-2 m-1 p-5" >
              <div class="flex flex-col gap-4">
                <p class="text-xl font-bold">{art.name}</p>
                <p>{artist.name}</p>
              </div>
              <Qrcode
                useCurrent={false}
                url={`https://fc.hbby.me/art/${artist.id}/${art.id}`}
                client:load
              />
            </div>
          ))}
        </>
      ))
    }
  </div>
	<div class="h-10" />
</Layout>
