---
import { Qrcode } from "@components/Qrcode";
import Layout from "@layouts/Layout.astro";
import { getArtistById } from "@lib/server";

const artistIdList = [
	"ptyuturaj7",
	"wpjps97mrt",
	"yotx9p3c2c",
	"xxb5x8va0t",
	"ntfqlahuno",
	"oap153ee14",
	"p1a6usy4ll",
	"fft6lxew1f"
];

const artistList = await Promise.all(
  artistIdList.map(async (id) => await getArtistById(id))
);
---

<Layout title="print small exhibition">
	<div class="h-10" />
  <div class="flex flex-col gap-2 w-[540px]">
    {
      artistList.map(({ artist, arts }) => (
        <>
          {arts.map((art) => (
            <div class="flex justify-between w-full border-dashed border-2 m-1 p-5" >
              <div class="flex flex-col gap-4">
                <p class="text-xl font-bold">{art.name}</p>
                <p>{artist.name}</p>
              </div>
              <Qrcode
                useCurrent={false}
                url={`https://fc.hbby.me/art/${artist.id}/${art.id}`}
                client:load
              />
            </div>
          ))}
        </>
      ))
    }
  </div>
	<div class="h-10" />
</Layout>
