---
import ArrowButton from "@components/ArrowButton.astro";
import Layout from "@layouts/Layout.astro";
import { arts } from "@lib/content";

const { slug, id } = Astro.params;
if (typeof id !== "string") {
  return Astro.redirect("/500");
}

const art = arts[id];
if (art === undefined) {
  return Astro.redirect("/404");
}

const { artist, description, images, title } = art;
---

<Layout title={title}>
  <div>
    <ArrowButton text={`작품 목록 보러가기`} href={`/exhibition/${slug}`} />
  </div>
  <div class="w-full max-h-[540px] flex flex-col">
    {
      images &&
        images.map((image) => (
          <img
            src={image}
            class="img drop-shadow-2xl rounded-lg self-center max-h-full"
          />
        ))
    }
  </div>
  <div class="flex flex-col gap-[2px] mx-3 my-5 items-start">
    <h2 class="text-2xl font-extrabold">{title}</h2>
    <a class="text-xl font-bold mb-5">
      {artist}
    </a>
    <p class="whitespace-pre-line">{description}</p>
  </div>
</Layout>
